.tool-flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.tools-image {
	opacity: 80%;
	padding-top: 100px;
	max-width: 40%;
}

.top5 {
	margin-top: 10px;
	text-align: center;
}

.top5 li {
	display: inline;
	padding: 10px;
}

.frontend-list {
	margin-top: 5%;
	float: left;
	margin-left: 38%;
}

.backend-list {
	margin-top: 5%;
	float: right;
	margin-right: 38%;
}

.h-skills {
	padding-top: 150px;
	font-size: 100px;
	text-align: center;
}

ul[title]::before {
	content: attr(title);
	display: block;
	font-weight: bold;
	font-size: 20px;
}

@media only screen and (max-width: 600px) {
	.tools-image {
		max-width: 60%;
	}
	.top5 li {
		display: block;
		padding: 0px;
	}
}
