.frontend-list {
	margin-top: 5%;
	float: left;
	margin-left: 38%;
}

.backend-list {
	margin-top: 5%;
	float: right;
	margin-right: 38%;
}

.h-skills {
	padding-top: 150px;
	font-size: 100px;
	text-align: center;
}

ul[title]::before {
	content: attr(title);
	display: block;
	font-weight: bold;
	font-size: 20px;
	text-decoration: underline;
}
